h1{
    color:blue;
    font-family: Arial, sans-serif;
}

i{
    color:red;
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
}

ul{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}