header {
    background-color: #121212;
    min-height: 100vh;
    text-align: center;
}

main {
    background-color: #FCFDFE;
}

#head-text {
    color: #FCFDFE;
    padding: 5% 0 5% 0;
    font-family: 'Inconsolata';
}

.intro {
    min-height: 100vh;
    text-align: center;
    font-family: 'Inconsolata';
    padding: 0 25% 0 25%;
    background-color: #FCFDFE;
}

.intro p {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;

}

.intro b {
    font-family: 'Inconsolata';
    font-weight: 500;
}

h1 {
    padding-top: 5%;
    font-size: 3em;
    font-weight: 900;
}

h6 {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: .75em;
    padding: 0 10% 0 10%;

}

@media (max-width:526px){
    .clips img {
      width:auto;
    }
  }


.i-thought-this-was-a-timed-assignment-if-that-isnt-clear-lol {
    background-color: #FCFDFE;
    padding: 0 25% 0 25%;
    min-height: 90vh;
    font-family: 'Roboto';
}

.part-2 {
    background-color: #FCFDFE;
    padding: 0 25% 0 25%;
    min-height: 35vh;
    font-family: 'Roboto';
}

h2 {
    font-family: 'Inconsolata';
    font-size: 1.75em;
    font-weight: 700;
}

main {
    background-color: #121212;
}

.results {
    min-height: 150vh;
    padding-left: 25%;
    padding-top: 25vh;
    background-color: #121212;
}

.results p {
    color: #FCFDFE;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto';
}

.money-talk {
    background-color: #FCFDFE;
    min-height: 25vh;
    padding-left: 25%;
    padding-top: 20px;
}

#chart{
    background-color: #FCFDFE;
    min-height: 30vh;
}

.quote {
    padding-left: 25%;
    padding-top: 3%;
    background-color: #FCFDFE;
    min-height: 40vh;
}

.quote p {
    color: #DB5461;
    font-weight: 700;
    font-size: 0.85em;
    font-family: 'Inconsolata';
}


#actual-chart {
    padding: 5%;
    margin-left: 16%;
}

.money-talk p {
    color: #121212;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto';

}

.money-talk h2 {
    color: #121212;
}

h3 {
    font-family: 'Inconsolata';
    font-size: 1.5em;
    color: #FCFDFE;
}

#vimeo {
    padding-left: 25%;
    padding-bottom: 10%
}

h4 {
    color: #FCFDFE;
    font-family: 'Roboto';
    font-size: 1.5em;
}

.carousel {
    min-height: 50vh;
    padding-top: 20px;
    padding-left: 20%;
    background-color: #FCFDFE;
}


footer {
    background-color: #FCFDFE;
    min-height: 20vh;
    text-align: center;
}

footer b{
    font-family: 'Inconsolata'
}

a {
    color: #DB5461;

}